.matchesImageDiv{
    position: relative;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1005px;
    width: auto;
    height: auto;
    word-wrap: break-word;
    margin: 15px auto;
    border-radius: 15px;
}

.top{
    position: relative;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1005px;
    width: auto;
    height: auto;
    background: #132f3d;
    word-wrap: break-word;
    padding: 20px;
    margin: 15px auto;
    border-radius: 15px;
}

@media screen and (max-width: 767px) {
    .helmet {display:none;}
}

.matchesImageDiv:hover{
    cursor: pointer;
}

.matchesImageDiv:hover .matchNameText{
    color: #efb200;
}

.matchNameText {
    font-size: xx-large;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.matchDetailsText {
    font-size: x-large;
    position: absolute;
    top: 80px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.datePlayedText {
    font-size: x-large;
    position: absolute;
    top: 140px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.removeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #43302c;
    display:inline-block;
    cursor:pointer;
    font-size:14px;
    font-weight:bold;
    padding:4px 8px;
    text-decoration:none;
    border-radius: 10px;
}

.removeButton:hover {
    background-color: #43140f;
}

.icon {
    position: relative;
    max-width: 20px;
    width: auto;
    height: auto;
}

.helmet{
    position: absolute;
    max-width: 210px;
    width: auto;
    height: auto;
    top: -10px;
    right: 20px;
}

/*replace the content value with the
corresponding value from the list below*/

.icon:before {
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}
