.matchesImageDiv{
    position: relative;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1005px;
    width: auto;
    height: auto;
    word-wrap: break-word;
    margin: 15px auto;
}

.matchNameText {
    font-size: xx-large;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.matchDetailsText {
    font-size: x-large;
    position: absolute;
    top: 80px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}