<h1 class="mt-4">PUBG Stats Service (work in progress)</h1>
<p class="lead mb-3">Welcome <%= name %>!</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<body>

<div class="matches">
    <script src="/upload-images/getMainView.js"></script>
</div>

</body>