<h1 class="mt-4">Favourite matches</h1>
<link rel="stylesheet" type="text/css" href="/views/styles/dashboard.css">
<p id="matchIds" style="display:none"><%= matchIds %></p>
<p id="name"style="display:none"><%= name %></p>
<p id="pubgname"style="display:none"><%= pubgname %></p>
<link rel="stylesheet" type="text/css" href="/views/styles/dashboard.css">
<a href="/users/logout" class="btn btn-secondary">Logout</a> <a href="javascript:history.back()" class="btn btn-secondary">Show recent matches</a>
<body>

<div class="matches">
    <script src="/views/favourites.js"></script>
</div>

</body>