<h1 class="mt-4">Your stats</h1>
<link rel="stylesheet" type="text/css" href="/views/styles/matchDetails.css">
<p id="data"style="display:none"><%= statistics %></p>
<div class="buttonContainer">
<a class="btn btn-secondary">Save to favourites</a>
</div>
<body>

<div class="matches">
    <script src="/views/matchDetails.js"></script>
</div>

</body>