<head>
<title>PUBG Stats</title>
    </head>
<h1 class="mt-4">Your stats</h1>
<link rel="stylesheet" type="text/css" href="/views/styles/matchDetails.css">
<p id="data"style="display:none"><%= statistics %></p>
<p id="userName"style="display:none"><%= userName %></p>
<p id="matchId"style="display:none"><%= matchId %></p>
<div class="buttonContainer">
    <button class="btn btn-primary btn-block mb-2" id="saveToFavsBtn">Save to favourites</button>
</div>
<body>
<h1 class="text-center mb-3">
<%include ./partials/messages %>
</h1>
<div class="matches">
    <script src="/views/matchDetails.js"></script>
</div>

</body>